// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//========= About Page ===========


.aboutpage{
  color: white;
  h1{
    font-size: 17em;
    margin-bottom: 0;
  };
  p{
    font-size: 1.2em;
    font-weight: 800;
  }
  .loginlink{
    font-size: 3em;
    text-align: right;
    float:right;
    font-weight: 900;
    background-color: rgba(0,0,100,0.1);
    max-width: 300px;
    text-decoration: underline;
    a{
      color: lightblue;
      }
  }
}

.hero {  
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: rgba(0,0,0,0.2); 
  $hero-background-bottom: rgba(0,0,0,0.2);
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: rgba(0,0,0,0.2);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;


  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;
        b{
        font-size: 1.2em;
        }
        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-weight: 400;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 60%;
        }
      }
        
      a {
        font-weight: 900;
        font-size: 1.3em;
        color:lightblue;
      }

    }
  }
}
